# Configurações do banco de dados
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rag

# Configurações da OpenAI (opcional)
OPENAI_API_KEY=sua_chave_api_aqui

# Configurações da Google (Gemini)
GOOGLE_API_KEY=AIzaSyCKdmmP4NiQOpPSM6slXQLpssnfDsjE3xc

# Configurações do PDF
PDF_PATH=document.pdf

# Configurações dos modelos (usando Gemini)
EMBEDDING_MODEL=models/embedding-001
LLM_MODEL=gemini-2.0-flash-exp
